doctype html
html(lang="en")
  head
    block head
      meta(charset="UTF-8")
      meta(name="viewport" content="width=device-width, initial-scale=1.0")
      meta(http-equiv='Content-Security-Policy' content="script-src 'self' https://cdnjs.cloudflare.com/ 'unsafe-inline' 'unsafe-eval'")
      link(href="https://fonts.googleapis.com/css?family=Lato:300,300i,700" rel="stylesheet")
      link(rel="stylesheet" href="css/style.css")
      link(rel="shortcut icon" type="image/png" href="img/favicon.png")
      title Natours | Exciting tours for adventurous people

body
  // HEADER
  include _header

  // CONTENT
  block content
  h1
  // FOOTER
  include _footer

  script(src='https://cdnjs.cloudflare.com/ajax/libs/axios/0.18.0/axios.min.js')
  script(src='/js/index.js')
